.App {
  text-align: center;
  
}

.menu {
  display: flex;
  justify-content: space-evenly; 
  position: relative;
}
.dropdown{
  display: none;
  position: absolute;
}
.menu:hover .dropdown{
  display: block;
}
li{
  list-style: none;
}